*, *:before, *:after {
    box-sizing: border-box;
}

body {
  background-color:#D5DDE5;
  font-size: 10px;
  display: inline-block;
}

h1{
  background-color: #93AAC2;
  font-family: Helvetica, sans-serif;
  font-size: 2.0em;
  font-weight: 400;
  word-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin: 8%;
  padding: 2%;
}

h2 {
  font-family: Helvetica;
  font-size: 2.1em;
  font-weight: 600;
  text-align: center;
}

img {
  margin-left: 65%;
  padding: 2%;
}


@media screen and (min-width: 575px) {
  body {
    margin: 1%;
    width: 48%;
  }
}
